{% extends 'base.html.twig' %}

{% block content %}

    <a href="{{ path('package.office_get') }}" class="btn btn-default pull-right" role="button">Back to the list</a>
    <p> Are you sure you want to delete this office?</p>
    {{ office.getCountry()}}, {{ office.getCity() }}, {{ office.getStreet() }} {{ office.getHomeNumber() }}
    {{ form_start(delete_form) }}
    <input type="submit" value="Delete" class="btn btn-default pull-left" role="button">
    {{ form_end(delete_form) }}

{% endblock %}
