{% extends 'base.html.twig' %}

{% block content %}
    <h2>Create office</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        {#{% for field in form %}#}
            {#{{ form_label(field) }} {{ form_widget(field) }}#}
            {#<br>#}
        {#{% endfor %}#}
    <input type="submit" value="Send"  class="btn btn-default pull-left" role="button" />
    {{ form_end(form) }}

    <a href="{{ path('package.office_get') }}" class="btn btn-default pull-left" role="button">Back to the list</a>

{% endblock %}