{% extends 'base.html.twig' %}

{% block content %}

    <h1>Office edit</h1>
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" class="btn btn-default pull-left" role="button"/>
    {{ form_end(edit_form) }}

    <a href="{{ path('package.office_get') }}" class="btn btn-default" role="button">Back to the list</a>

{% endblock %}
