{% extends 'base.html.twig' %}

{% block content %}

    <h2>Offices</h2>

    {% if offices != null %}
        <table class="table">
            <tr>
                <th>
                    {{ "Number" }}
                </th>
                <th>
                    {{ "Office type" }}
                </th>
                <th>
                    {{ "Address" }}
                </th>
            </tr>

            {% for item in offices %}
                <tr>
                    <td>
                        {{ item.getId() }}
                    </td>
                    <td>
                        {{ item.getType() }}
                    </td>
                    <td>
                        {{ item.getCity()}}, ul. {{ item.getStreet()}} {{ item.getHomeNumber }}
                        {% if item.getFlatNumber() != null %}
                            /{{ item.getFlatNumber() }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('package.office_edit', { 'id': item.getId }) }}" class="btn btn-default" role="button">Edit office</a>
                        <a href="{{ path("package.office_delete", { 'id': item.getId }) }}" class="btn btn-default" role="button">Remove office</a>
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
        {{ "You haven't any office" }}
    {% endif %}

    <a href="{{ path("package.office_create") }}" class="btn btn-default pull-right" role="button">New office</a>
    
{% endblock %}