{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sender creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="btn btn-default pull-right" role="button"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('sender_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
