{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sender</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sender.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ sender.name }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ sender.surname }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ sender.country }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ sender.city }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ sender.street }}</td>
            </tr>
            <tr>
                <th>Homenumber</th>
                <td>{{ sender.homeNumber }}</td>
            </tr>
            <tr>
                <th>Flatnumber</th>
                <td>{{ sender.flatNumber }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sender_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sender_edit', { 'id': sender.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-default pull-right" role="button">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
