<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>{% block title %}My Courier{% endblock %}</title>

    {% block stylesheets %}
    {% endblock %}

</head>

<body>
<div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path("app.homepage") }}">Home</a></li>
                    <li><a href="{{ path("app.about") }}">About</a></li>
                    <li><a href="{{ path("app.prices") }}">Prices</a></li>
                    <li><a href="{{ path("package.follow") }}">Follow package</a></li>
                    <li><a href="{{ path("app.contact") }}">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if app.user == null %}
                        <li><a href="{{ path("fos_user_security_login") }}">Login</a></li>
                        <li><a href="{{ path("fos_user_registration_register", {'role':"sender"}) }}">Sign in</a></li>
                    {% else %}
                        {% if app.user.hasRole('ROLE_SENDER') %}
                            <li><a href="{{ path("package.get") }}">My packages</a></li>
                            <li><a href="{{ path("package.create") }}">Send package</a></li>
                            <li><a href="{{ path("fos_user_profile_edit") }}">Edit account</a></li>
                        {% elseif app.user.hasRole('ROLE_WORKER')%}
                            <li><a href="{{ path("package.create_by_worker") }}">Send customer's package</a></li>
                            <li><a href="{{ path("package.edit_localization") }}">Localizations</a></li>
                            <li><a href="{{ path("fos_user_profile_edit") }}">Edit account</a></li>
                        {% elseif app.user.hasRole('ROLE_SUPER_ADMIN')%}
                            <li><a href="{{ path("dictionary.city_index") }}">Cities</a></li>
                            <li><a href="{{ path("dictionary.country_index") }}">Countries</a></li>
                            <li><a href="{{ path("package.office_get") }}">Offices</a></li>
                            <li><a href="{{ path("app.worker_index") }}">Workers</a></li>
                        {% endif %}
                        <li><a href="{{ path("fos_user_change_password") }}">Edit password</a></li>
                        <li><a href="{{ path("fos_user_security_logout") }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>

<div id="content" class="container body-content" style="padding-top: 100px">
    {% block content %}
    {% endblock %}
    <hr />

    <footer>
        <p> </p>
    </footer>
</div>

{% block javascripts %}
{% endblock %}

</body>
</html>