{% trans_default_domain 'FOSUserBundle' %}
<h3>Sign in</h3>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {#{% for field in form %}#}
        {#{{ form_label(field) }} {{ form_widget(field) }}#}
        {#<br>#}
    {#{% endfor %}#}
    {{ form_widget(form) }}
    {# ML - senderForm #}
    {% if senderForm != null %}
        {{ form_start(senderForm) }}

        {% for field in senderForm %}
            {{ form_label(field) }} {{ form_widget(field) }}
            <br>
        {% endfor %}

            <div>
                <input type="submit" value="{{ 'registration.submit'|trans }}" />
            </div>
        {{ form_end(senderForm) }}
    {% else %}
        <div>
            <input type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>
    {% endif %}
{{ form_end(form) }}
