{% extends 'base.html.twig' %}

{% block content %}

    <a href="{{ path('dictionary.city_index') }}" class="btn btn-default pull-right" role="button">Back to the list</a>
    <p> Are you sue you want to delete this city?</p>
    {{ city.getCity() }}
    {{ form_start(delete_form) }}
    <input type="submit" value="Delete" class="btn btn-default pull-left" role="button">
    {{ form_end(delete_form) }}

{% endblock %}
