{% extends 'base.html.twig' %}

{% block content %}
    <h1>City list</h1>

    <table class="table">
        <tr>
            <th>
                {{ "City id" }}
            </th>
            <th>
                {{ "City name" }}
            </th>
            <th>
                {{ "Country name" }}
            </th>
            <th>
                {{ "Edit" }}
            </th>
            <th>
                {{ "Delete" }}
            </th>
        </tr>

        {% for city in cities %}
            <tr>
                <td>
                    {{ city.getId() }}
                </td>
                <td>
                    {{ city.getCity() }}
                </td>
                <td>
                    {{ city.getCountry() }}
                </td>

                <td>
                    <a href="{{ path('dictionary.city_edit', { 'id': city.getId() }) }}" class="btn btn-default" >Edit</a>
                </td>
                <td>
                    <a href="{{ path("dictionary.city_delete", { 'id': city.getId() }) }}" class="btn btn-default" role="button">Delete</a>

                </td>
            </tr>
        {% endfor %}

    </table>

            <a href="{{ path('dictionary.city_new') }}" class="btn btn-default">Create a new city</a>

{% endblock %}
