{% extends 'base.html.twig' %}

{% block content %}
    <h1>City creation</h1>

    {{ form_start(form) }}
        {#{% for field in form %}#}
            {#{{ form_label(field) }} {{ form_widget(field) }}#}
            {#<br>#}
        {#{% endfor %}#}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="btn btn-default pull-left" role="button"/>
    {{ form_end(form) }}


     <a href="{{ path('dictionary.city_index') }}" class="btn btn-default pull-left" role="button">Back to the list</a>
{% endblock %}
