{% extends 'base.html.twig' %}

{% block content %}
    <h1>User edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" class="btn btn-default" role="button"/>
    {{ form_end(edit_form) }}

    <a href="{{ path('app.worker_get') }}" class="btn btn-default" role="button">Back to the list</a>
{% endblock %}
