{% extends 'base.html.twig' %}

{% block content %}

    <h2>Workers</h2>
    {% if users != null %}
        <table class="table">
            <tr>
                <th>
                    {{ "Worker number" }}
                </th>
                <th>
                    {{ "Worker Login" }}
                </th>
            </tr>

            {% for user in users %}
                <tr>
                    <td>
                        {{ user.getId() }}
                    </td>
                    <td>
                        {{ user.getUsername() }}
                    </td>
                    <td>
                        {#<a href="{{ path('app.worker_edit', { 'id': user.getId }) }}" class="btn btn-default" role="button">Edit worker</a>#}
                        <a href="{{ path("app.worker_delete", { 'id': user.getId }) }}" class="btn btn-default" role="button">Remove worker</a>
                    </td>
                </tr>
            {% endfor %}

        </table>

    {% else %}
        <p> There's o worker yet</p>
    {% endif %}

    <a href="{{ path('app.worker_new') }}" class="btn btn-default" role="button">Add a new worker</a>

{% endblock %}
