{% extends 'base.html.twig' %}

{% block content %}
    <h1>Create worker</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create"  class="btn btn-default pull-left" role="button" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('app.worker_index') }}"  class="btn btn-default pull-left" role="button">Back to the list</a>
        </li>
    </ul>
{% endblock %}
