

{% extends 'base.html.twig' %}

{% block content %}
    <h2>Create package</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Next" class="btn btn-default pull-left" role="button" />
    {{ form_end(form) }}

{% endblock %}