{% extends 'base.html.twig' %}

{% block content %}
    <h2>Create package</h2>

    {{ form_start(formSender) }}
    {{ form_start(formPackage) }}
    <h4>From:</h4>
    {{ form_widget(formSender) }}
    <h4>To:</h4>
    {{ form_widget(formPackage) }}

    {#{{ form_widget(formPackage.save) }}#}

    <input type="submit" value="Send" class="btn btn-default pull-left" role="button" />

    {{ form_end(formSender) }}
    {{ form_end(formPackage) }}

{% endblock %}