

{% extends 'base.html.twig' %}

{% block content %}
    <h3>Are you sure you want to sent package</h3>
    <b>from:</b>
    <p>
        {{ sender.getName() }} {{ sender.getSurname() }}
        <br>
        {{ sender.getCity() }} ul. {{ sender.getStreet() }} {{ sender.getHomeNumber() }}
        {% if sender.getFlatNumber()  != null%}
            /{{ sender.getFlatNumber() }}
        {% endif %}
    </p>
    <b>to receiver:</b>
    <p>
        {{ package.getReceiverName()}} {{ package.getReceiverSurname()}}
        <br>
        {{ package.getReceiverCity()}} ul. {{ package.getReceiverStreet()}} {{ package.getReceiverHomeNumber }}
        {% if package.getReceiverFlatNumber() != null %}
            /{{ package.getReceiverFlatNumber() }}
        {% endif %}
    </p>

    <p>
        Price: {{ package.getPrice() }}
    </p>


    {{ form_start(form) }}
        {#{{ form_row(form.receiverCity) }}#}
        <input type="submit" value="Send" class="btn btn-default pull-left" role="button" />
    {{ form_end(form, {'render_rest': false}) }}




{% endblock %}