

{% extends 'base.html.twig' %}

{% block content %}
    <p2>Package was created</p2>
    <p>
        <b>Package number:</b> {{ package.getNumber() }}
    </p>
    <b>Created package from sender:</b>
    <p>
        {{ sender.getName() }} {{ sender.getSurname() }}
        <br>
        {{ sender.getCity() }} ul. {{ sender.getStreet() }} {{ sender.getHomeNumber() }}
        {% if sender.getFlatNumber()  != null%}
            /{{ sender.getFlatNumber() }}
        {% endif %}
    </p>
    <b>To receiver:</b>
    <p>
        {{ package.getReceiverName()}} {{ package.getReceiverSurname()}}
        <br>
        {{ package.getReceiverCity()}} ul. {{ package.getReceiverStreet()}} {{ package.getReceiverHomeNumber }}
        {% if package.getReceiverFlatNumber() != null %}
            /{{ package.getReceiverFlatNumber() }}
        {% endif %}
    </p>
    <p>
        <b>Price:</b> {{ package.getPrice() }} <br>
        <b>Account number:</b>  1144 0000 5213 5698 0000 0000
    </p>

    <a href="{{ path('package.get')}}" class="btn btn-default" role="button">My packages</a>
{% endblock %}