

{% extends 'base.html.twig' %}

{% block content %}
    <b>Created package from sender:</b>
    <p>
        {{ sender.getName() }} {{ sender.getSurname() }}
        <br>
        {{ sender.getCity() }} ul. {{ sender.getStreet() }} {{ sender.getHomeNumber() }}
        {% if sender.getFlatNumber()  != null%}
            /{{ sender.getFlatNumber() }}
        {% endif %}
    </p>
    <b>To receiver:</b>
    <p>
        {{ package.getReceiverName()}} {{ package.getReceiverSurname()}}
        <br>
        {{ package.getReceiverCity()}} ul. {{ package.getReceiverStreet()}} {{ package.getReceiverHomeNumber }}
        {% if package.getReceiverFlatNumber() != null %}
            /{{ package.getReceiverFlatNumber() }}
        {% endif %}
    </p>

    <p>
        <b>Package number:</b> {{ package.getNumber() }}
    </p>



{% endblock %}