{% extends 'base.html.twig' %}

{% block content %}
    <h2>Trip of your package</h2>

    <table class="table">
        <tr>
            <th>
                {{ "Date" }}
            </th>
            <th>
                {{ "Localization" }}
            </th>
        </tr>

        {% for item in localization %}
            <tr>
                <td>
                    {{ item.getDate().format('Y-m-d H:i:s') }}
                </td>
                <td>
                    {{ item }}
                </td>
            </tr>

        {% endfor %}


    </table>


{% endblock %}