{% extends 'base.html.twig' %}

{% block content %}
    <p> Enter your package number</p>

    {% if error == true %}
        Wrong package number
    {% endif %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Follow" class="btn btn-default pull-left" role="button"/>
    {{ form_end(form) }}

{% endblock %}