{% extends 'base.html.twig' %}
{% block stylesheets %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Datepicker - Default functionality</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">

    <style type="text/css">
        #left, #middle, #right {display: inline-block;margin: 10px }
        #container {margin: 15px}
    </style>
{% endblock %}

{% block content %}
    {#{{ package_json }}#}

    <h2>Sent packages</h2>
    {% if packages.count() != 0 %}


        <div id="container">
            <div id="left">Date from: <input type="text" id="date-from" title="from"></div>
            <div id="middle">Date to: <input type="text" id="date-to" title="to"></div>
            <div id="right"><button onclick="filterByDate()" value="Follow" class="btn btn-default" role="button"> Search </button></div>
        </div>

        <div id="table">
            <table class="table">
                <tr>
                    <th>
                        {{ "Package number" }}
                    </th>
                    <th>
                        {{ "Send date" }}
                    </th>
                    <th>
                        {{ "Receiver" }}
                    </th>
                    <th>
                        {{ "Weight" }}
                    </th>
                    <th>
                        {{ "Price" }}
                    </th>
                    <th>
                        {{ "Localization" }}
                    </th>
                    <th>
                        {{ "Status" }}
                    </th>
                </tr>

                {% for item in packages %}
                    <tr>
                        <td>
                            {{ item.getNumber() }}
                        </td>
                        <td>
                            {{ item.getDateSent()|date('Y-m-d') }}
                        </td>
                        <td>
                            {{ item.getReceiverName()}} {{ item.getReceiverSurname()}} <br>
                            {{ item.getReceiverCity()}} ul. {{ item.getReceiverStreet()}} {{ item.getReceiverHomeNumber }}
                            {% if item.getReceiverFlatNumber() != null %}
                                /{{ item.getReceiverFlatNumber() }}
                            {% endif %}
                        </td>
                        <td>
                            {{ item.getWeight() }}
                        </td>
                        <td>
                            {{ item.getPrice() }}
                        </td>
                        <td>
                            {% if item.getStatus() == 1 %}
                                Receiver's home
                            {% elseif item.getLocalizations()|first%}
                                {{  item.getLocalizations()|first }}
                            {% else %}
                                Sender's home
                            {% endif %}
                        </td>
                        <td>
                            {% if item.status == 0 %}
                                In progress
                            {% else %}
                                Completed
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>


    {% else %}
        {{ "You haven't sent any package yet" }}
    {% endif %}

{% endblock %}

{% block javascripts %}

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('bundles/package/js/package.js') }}"></script>


{% endblock %}


