

{% extends 'base.html.twig' %}

{% block content %}
    {% form_theme form _self %}

    {#{% block checkbox_widget %}#}
        {#{% spaceless %}#}
            {#<input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />#}
        {#{% endspaceless %}#}
    {#{% endblock checkbox_widget %}#}



    <h2>Actualize localization</h2>
    <br>
    <p> Choose your office:</p>

    {{ form_start(form) }}
    {{ form_widget(form.office) }}
    <br>
    <br>
    <p>Choose packages</p>
    {% for field in form.package %}
            {{ form_widget(field) }}
            {{ form_label(field) }}
        <br>
    {% endfor %}

    <input type="submit" value="Actualize" class="btn btn-default pull-left" role="button"/>
    {{ form_end(form) }}

{% endblock %}