{% extends 'base.html.twig' %}

{% block content %}
    {% if (app.user != null )%}
        <p> You are login</p>
        <p>User name: {{ app.user }}</p>
        <p>User id: {{ app.user.id }}</p>
    {% else  %}
        <p> You aren't login</p>
    {% endif %}
{% endblock %}

