{% extends 'base.html.twig' %}

{% block content %}
    <h3>Form:</h3>
    {{ form_start(loginForm) }}
    {{ form_widget(loginForm) }}
    <button type="submit">Login!</button>
    {{ form_end(loginForm) }}

{% endblock %}

e