{% extends 'base.html.twig' %}

{% block content %}
    <h3>The user has the following errors</h3>
    <ul>
        {% for error in errors %}
            <li>{{ error.message }}</li>
        {% endfor %}
    </ul>
{% endblock %}