{% extends 'base.html.twig' %}

{% block content %}
    <a href="{{ path('dictionary.country_index') }}" class="btn btn-default pull-right" role="button">Back to the list</a>
    <p> Are you sure you want to delete this country?</p>
    {{ country.getCountry() }}
    {{ form_start(delete_form) }}
    <input type="submit" value="Delete" class="btn btn-default pull-left" role="button">
    {{ form_end(delete_form) }}
{% endblock %}