{% extends 'base.html.twig' %}

{% block content %}
    <h1>Country edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" class="btn btn-default" role="button"/>
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('country_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-default" role="button">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
