{% extends 'base.html.twig' %}

{% block content %}
    <h1>Country list</h1>

        <table class="table">
            <tr>
                <th>
                    {{ "Id" }}
                </th>
                <th>
                    {{ "Country" }}
                </th>
                <th>
                    {{ "Edit" }}
                </th>
                <th>
                    {{ "Delete" }}
                </th>
            </tr>

            {% for country in countries %}
            <tr>
                <td>
                    {{ country.getId() }}
                </td>
                <td>
                    {{ country.country }}
                </td>
                <td>
                    <a href="{{ path('dictionary.country_edit', { 'id': country.id }) }}" class="btn btn-default" >Edit</a>
                </td>
                <td>
                    <a href="{{ path("dictionary.country_delete", { 'id': country.getId }) }}" class="btn btn-default" role="button">Delete</a>

                </td>
            </tr>
            {% endfor %}
    </table>

            <a href="{{ path('dictionary.country_new') }}" class="btn btn-default">Create a new country</a>

{% endblock %}
