{% extends 'base.html.twig' %}

{% block content %}
    <h1>Country creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        {#{% for field in form %}#}
            {#{{ form_label(field) }} {{ form_widget(field) }}#}
            {#<br>#}
        {#{% endfor %}#}
        <input type="submit" value="Create" class="btn btn-default" role="button"/>
    {{ form_end(form) }}

    <a href="{{ path('dictionary.country_index') }}">Back to the list</a>
{% endblock %}
